
.ui-content {
	border-width: 0;
	overflow: visible;
	overflow-x: hidden;
	padding: 2px;
}

.ui-block-a {
	width: 40% !important;
}

.ui-block-b {
	width: 60% !important;
}

#ul-details {
	list-style-type: none;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

#li-details {
	margin-bottom: 1em;
}	

#coupon-details {
	/*float: left;*/
	height: 100%;
	position: relative;
	font-family:"Arial", Arial, serif;
	text-align: justified;
}

#coupon-discount {
	color: red;	
	font-weight: bold;
}

#coupon-date {
	font-style: italic;
	position: relative;
}

#info {
	float: right;
}

#image-block {
	float: left;
	height: 100%;
}

#coupon-img {
	/*float: left;*/
	position: relative;
	left: +5px;
	top: +10px;
	height: 120px;
	overflow: hidden;
}





